body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

  outline: 3px solid green;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 19px;

  outline: 3px solid red;
}

.main-navigation {
  float: left;
  width: 780px;

  min-height: 70px;
  outline: 3px solid yellow;
}

.user-block {
  float: right;
  width: 140px;

  min-height: 70px;
  outline: 3px solid yellow;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;

  outline: 3px solid yellow;
  background-color: yellow;
}

.features {
  outline: 3px solid yellow;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  min-height: 175px;
  outline: 3px solid blue;
}

.features-item:last-child {
  margin-right: 0;
}
