body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-header {
  outline: 3px solid green;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 19px;

  outline: 3px solid red;
}

.main-navigation {
  float: left;
  width: 780px;

  min-height: 70px;
  outline: 3px solid yellow;
}

.user-block {
  float: right;
  width: 140px;

  min-height: 70px;
  outline: 3px solid yellow;
}
